body{
  font-family: Arial, Helvetica, sans-serif;
}
.homepage{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explorer{
  width: 1000px;
  height: 600px;
  border-radius: 12px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sidebar{
  width: 25%;
  height: 100%;
  background-color: rgba(85, 109, 97, 0.507);
  border-radius: 12px 0px 0px 12px ;
}
.fileview{
  width: 75%;
  height: 100%;
  background-color: rgba(37, 59, 77, 0.89);
  border-radius: 0px 12px 12px 0px ;
}
.toolbar{
  display: flex;
  padding: 10px 10px;
  column-gap: 5px;
  margin-bottom: 5px;
}
.toolbar-icon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.close{
  background-color: #eb3c3c;
}
.minimize{
  background-color: rgb(235, 231, 11);
}
.maximize{
  background-color: rgb(39, 192, 39);
}
.close:hover{
  background-color: rgba(235, 60, 60, 0.328);
}
.minimize:hover{
  background-color: rgba(235, 231, 11, 0.328);
}
.maximize:hover{
  background-color: rgba(39, 192, 39, 0.328);
}
.sidebar-item{
  padding: 10px 30px;
  margin: 2px 20px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}
.sidebar-item:hover{
  background-color: grey;
  cursor: pointer;
}
.navigation{
  display: flex;
  background-color: orange;
  height: 20px;
  color: white;
  padding: 4px 5px;
  font-weight: bolder;
  border-radius: 0px 12px 0px 0px ;
}
.folderview{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  column-gap: 20px;
  row-gap: 20px;
}
.navigation-buttons{
  display: flex;
  margin: 0px 10px;
  column-gap: 10px;
}
.navigation-buttons > button{
  background-color: rgb(109, 190, 16);
  color: white;
  border: unset;
}
.navigation-buttons > button:hover{
  background-color: rgba(109, 190, 16, 0.365);
}
.contextmenu{
  border-radius: 10px;
  color: black;
  font-weight: bolder;
  padding: 10px;
  background-color: white;
}
.contextmenu-item{
  padding: 10px;
  border-radius: 5px;
}
.contextmenu-item:hover{
  background-color: lightgray;
  cursor: pointer;
}
